<!--title-->
<div class="account-title col-xs-12">
  <h1> {{text.title}}</h1>
</div>

<form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm.value, myForm.valid)" class="col-xs-12">
  <div class="input-wrap row">
    <label for="email-input" class="col-xs-3">{{text.insertEmail}}</label>
    <input id="email-input" type="email" formControlName="email" class="col-xs-6">
    <small [hidden]="myForm.controls.email.valid || (myForm.controls.email.pristine && !submitted)" class="error col-xs-1">
      X
    </small>
  </div>

  <div class="input-wrap row">
      <label for="password-input" class="col-xs-3">{{text.insertPassword}}</label>
    <input id="password-input" type="password" formControlName="password" class="col-xs-6">
    <small [hidden]="myForm.controls.password.valid || (myForm.controls.password.pristine && !submitted)" class="error col-xs-1">
      X
    </small>
  </div>
  <div class="input-wrap row">
    <label for="password2-input" class="col-xs-3">{{text.insertPassword2}}</label>
    <input id="password2-input" formControlName="password2" type="password" class="col-xs-6">
    <small [hidden]="myForm.controls.password2.valid || (myForm.controls.password2.pristine && !submitted)" class="error col-xs-1">
      X
    </small>
  </div>

  <div class="row error-message">
    <p class="error">
      {{errorMessage}}
    </p>
  </div>

  <div class="button-wrap row ">
    <button type="submit" md-raised-button class="btn-override big-full-width col-xs-12 ">{{ text.button }}</button>
  </div>


</form>
