<!--title-->
<div class="account-title col-xs-12">
  <h1> {{text.title}}</h1>
</div>

<form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm.value, myForm.valid)" class="col-xs-12">

  <div class="input-wrap row">
    <label for="password-input" class="col-xs-3">{{text.insertPassword}}</label>
    <input id="password-input" type="password" formControlName="password" class="col-xs-5">
    <small [hidden]="myForm.controls.password.valid || (myForm.controls.password.pristine && !submitted)" class="error col-xs-2">
      X
    </small>
  </div>

  <div class="button-wrap row">
    <button type="submit" md-raised-button class="btn-override big-full-width col-xs-12">{{ text.button }}</button>
  </div>

  <div class="row error-message">
    <p class="error">
      {{errorMessage}}
    </p>
  </div>
</form>
