<!--title-->
<div class="account-title col-xs-12">
    <h1> {{text.title}}</h1>
</div>

<form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm.value, myForm.valid)" class="col-xs-12">

    <div class="input-wrap row">
        <label for="email-input" class="col-xs-4">{{text.insertEmail}}</label>
        <input id="email-input" type="email" formControlName="email" class="col-xs-5">
        <small [hidden]="myForm.controls.email.valid || (myForm.controls.email.pristine && !submitted)" class="error col-xs-2">
            X
        </small>
    </div>

    <div class="row error-message">
        <div class="col-xs-8">
            <p class="error">
                {{errorMessage}}
            </p>
        </div>
    </div>

    <div class="button-wrap row">
        <button type="submit" md-raised-button class="btn-override big-full-width col-xs-12">{{ text.button }}</button>
    </div>

</form>
