.loader-wrap{
  position: absolute;
  top: 0;
  width: 100vw;
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #393939;
  height: 100vh;
  img{
    max-width:30%;
  }
}